*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     font-family: Inter ;
}
ul,nav{
    list-style: none;
    display: flex;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: -webkit-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 35px 100px 0;

}
header h2{
    text-transform: uppercase;

}
header nav {
    display: -webkit-flex;
    display: -moz-flex;
    display: ruby-base-container;
    display: -o-flex; 
    display: flex;

}

header nav li{
    margin:  0 20px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
    
}
/*banner area*/

section{
    display: -webkit-flex;
    display: -moz-flex;
    display: ruby-base-container;
    display: -o-flex; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}

.banner-alani{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: rgb(255, 247, 247);
    text-align: center;
    

}

.banner-alani .banner-img{
    background-image: url("sa.jpg");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.banner-alani .banner-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

.banner-alani h1{
    margin-bottom: 25px;
    font-size: 105px;
}

.banner-alani h3 {
    margin-bottom: 40px;
    font-size: 25px;
}
.banner-alani a.banner-contact{
    padding: 10px 30px;
    background: rgba(255, 170, 0, 0.555);
    border-radius: 50px;
    text-transform: uppercase;
}

header img{
    max-width: 15% ;
    max-height: 15% ;
}

/* about area */

ul.about-content{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.about-content li{
    padding: 40px;
    height: 290px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


}

.about-left{
    flex-basis: 40%;
    background-image: url("aa.jpg");

}

a.about-rigth{
    flex-basis: 60%;
}

.about-area p{
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 5%;
}

.about-content h2{
    margin-bottom: 5%;
} 

/************** About ************/
.kutucuk{
    font-size: 25px ;
    color: black;
}
.body {
    margin: 10;
    padding: 10;
    background: url(sa.jpg); 
    background-size: 200% 200%; 
    background-size: cover;
}

.box{
    width: 450px;
    background: rgba(221,220,221,255);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 15%;
    border-radius: 15%;
    color: rgb(3, 3, 3);
    font-family: Inter;
    
}

.box img {

    border-radius: 10%;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    cursor: pointer;

}
.box img:hover{
    transform: scale(0.9);
}

.box h1{
    font-size: 35px;
    margin-bottom: 4%;
    margin-top: 4%;
    font-weight: 200px;
}

.box h5{
     
     font-size: 11px;
     font-weight: 200;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 8px;
    margin-left: 95px;
    list-style: none;

}
.box li a{
    color: rgb(8, 8, 6);
    font-size: 40px;
    transition: all ease-in-out 250ms;

}

/************** About ************/

section {
    text-align: left;
}

article {
   text-align: center;

}

article table {
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


table tr th img {
    width:300px ;
    height: 300px ;
    
}

.product-area {
    max-width: 800px;
    margin-bottom: 35px;
    line-height: 1.5;
    text-align: left;
    padding-left: 0;
    justify-content: center;
    flex-wrap: wrap;

}

.asdasd li{
    margin: 0 25px;
}

.icon-social  {
    justify-content: center;
    

}
/************ SERRVİCES********/
.services-area h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 5%;

}
.services-area {
    background-color:  rgba(221,220,221,255);
}
.services-area li{
    text-align: center;
    padding:  0 30px;
    flex-basis: 33%;
}
.services-area li i {
    font-size: 60px;
}
.services-area h2{
    margin-top: 3%;
    margin-bottom: 3%;
}
.services-area ul{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-p p{
    margin-top: 5%;
    margin-bottom: 5%;
}

/** contact **/

.contact-area h1{
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 5%;

}

.contact-area li{
    text-align: center;
    padding:  0 30px;
    flex-basis: 33%;
}
.contact-area li i {
    font-size: 60px;
}
.contact-area h2{
    margin-top: 3%;
    margin-bottom: 3%;
}
.contact-area ul{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-p p{
    margin-top: 5%;
    margin-bottom: 5%;
}

footer{
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    height: 40px;
    align-items: center;

}